/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
}

body {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
}